{% load widget_tweaks %}

{% for field in form%}
    <div class="col-md-6">
        <div class="input_field">
            {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class='form-control is-invalid'%}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            {% else %}
                {% render_field field class='form-control is-valid'%}
            {% endif%}
        {% else %}
            {% render_field field class='form-control'%}
        {% endif%}
        </div>
    </div>
{%endfor%}

<div class="col-md-6">
    <div class="input_field">
        <input type="text" placeholder="Your name">
    </div>
</div>
<div class="col-md-6">
    <div class="input_field">
        <input type="text" placeholder="Email">
    </div>
</div>
<div class="col-md-12">
    <div class="input_field">
        <input type="text" placeholder="Website/Portfolio link">
    </div>
</div>
<div class="col-md-12">
    <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </button>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
          <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
        </div>
      </div>
</div>
<div class="col-md-12">
    <div class="input_field">
        <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
    </div>
</div>

<div class="col-md-12">
    <div class="submit_btn">
        <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
    </div>
</div>
<div class="row"></div>